Options -Indexes

RewriteEngine On

# Clean URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^admin/?$    admin.php    [L,QSA]
RewriteRule ^login/?$    login.php    [L,QSA]
RewriteRule ^logout/?$   logout.php   [L,QSA]
RewriteRule ^download/?$ download.php [L,QSA]
